@import 'functions/variables';
@import 'functions/mixins';
@import 'functions/webfonts';

body {
    font-family: $font1;
    font-size: 12px;
    color: #000;
    overflow-x: hidden;
    position: relative;
	background: #383838;

    @include tablet {
    	font-size: 14px;
		background: #383838;
    }
}

@import 'parts/default';
@import 'parts/main';