$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-lg: 1200px;

$font1: 'News Gothic MT';
$font1_bold: 'News Gothic MT Bold';
$font1_italic: 'News Gothic MT Italic';
$font2: 'chau_philomene_oneitalic';

$color1: #383838; /* DARK GRAY*/
$color1_clear: 383838; /* DARK GRAY*/
$color2: #b6b537; /* GREEN */
$color2_clear: b6b537; /* GREEN */